.button-list-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

@media (max-width: 600px) {
  .button-list-container {
    flex-direction: column;
    align-items: stretch;
  }
}
.toggle-button-group::selection {
  background-color: green;
}

.toggle-button-group .MuiToggleButton-root:hover {
  background-color: #e6f0ff;
}

.toggle-button-group .MuiToggleButton-root.Mui-selected {
  background-color: #007bff;
  color: white;
}

.toggle-button-group .MuiToggleButton-root.Mui-selected:hover {
  background-color: #0056b3;
}